<p>
To connect to scotty bot, please open a terminal on your <em>local</em> computer and run the following command: <code><%= ssh_tunnel %></code>
</p>
<p>
Once you have done this, open your <em>local</em> browser of choice and enter the following URL: <a href="<%= connection_string %>"><%= connection_string %></a>.
</p>
